{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Поcты{% endblock %}
{% block header %}Посты избранных авторов{% endblock %}
{% block content %}
<div class="container">
{% include "menu.html" with follow=True %}
    {% for post in page %}
        {% include "post_item.html" with post=post comment=True %}
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
</div>
    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}
{% endblock %}