{% extends "base.html" %} 
{% block title %} Последние обновления {% endblock %}
{% block header %}
        {% if find %}
        По запросу {{ query }} найдено {{ page.count }} постов 
        {% else %}
        Последние обновления на сайте
        {% endif %}
{% endblock %}
{% block content %}
    {% include 'menu.html' with index=True %}
    {% include "search.html" %}
    {% load cache %}
    {% for post in page %}
            {% include "post_item.html" with post=post comment=True %}
    {% endfor %}
    {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
    {% endif %}
{% endblock %}
{% block groups %}
       {% include 'side_groups.html' %}
{% endblock %}
{% block users %}
        {% include 'side_users.html' %}
{% endblock %}