{% extends "base.html" %}
{% block title %}Добавить новый пост{% endblock %}
{% block header %}
{% load user_filters %}
{% endblock %}
{% load static %}
{% block content%}
<div class="col-sm-6" style="margin-left: 250px;">
    {% if edit %}
    {% include 'navigate.html' %}
    {% endif %}
    <div class="card">
        <div class="card-header">
            {% if post %}
                <p style="text-align: center;color: cornflowerblue;font-size: 30px;">Редактировать запись</p>
                <form method="post" enctype="multipart/form-data" action="{% url 'post_edit' post.author.username post.id %}">
            {% else %}
                <p style="text-align: center;color: cornflowerblue;font-size: 30px;">Добавить запись</p>
                <form method="post" enctype="multipart/form-data" action="{% url 'new_post' %}">
            {% endif %}
        </div>
        <div class="card-body">
            {% if post %}
            {% if form.image.value %}
                <img class="card-img-top" src="{% get_media_prefix %}{{ form.image.value }}" alt="Card image cap" height="300px">
                {% endif %}
            {% endif %}
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group row">
                <label for="{{ field.id_for_label }}" class="col-md-2 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                {% if forloop.counter != 3 %}
                {{ field|addclass:"form-control" }}
                {% else %}
                {{ field|addclass:"form-control-file col-md-7" }}
                {% endif %}
                {% if field.help_text %}
                <small id="{{ field.id_for_label }}-help" class="form-text text-muted"><pre style="color: darkgreen;"> {{ field.help_text|safe }}</pre></small>
                {% endif %}
                {% if not post %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                        <h6 style="margin-left: 400px;margin-top: 10px;"><pre style="color: red;">{{ error }}</h6>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                </div>
            {% endfor %}
            <div class="col-md-6 offset-md-4">              
                    {% if post %}
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}
