{% extends "base.html" %} 
{% block title %} Профайл {% endblock %}
{% block header %}{% endblock %}
{% block content %}
<main role="main" class="container">
        <div class="row">
                {% include 'info_author.html' %}
                <div class="col-md-9">  
                        {% if page.count == 0 %}
                        <p>Пока что у автора <b>{{ author.get_full_name }}</b> нет постов, но скоро
                        они обязательно появяться </p>
                        {% endif %}           
                        {% for post in page %}
                                {% include 'post_item.html' with comment=True %}
                        {% endfor %}
                        {% if page.has_other_pages %}
                        {% include "paginator.html" with items=page paginator=paginator %}
                        {% endif %}
                </div>
        </div>
</main>
{% endblock %}